          <div class="panel panel-default">
            <div class="panel-heading">{{group_name}}</div>
            <div class="panel-body">
               <p>Абонемент : {{abonement_name}}</p>
               <p>Использовано занятий : {{used}}/{{less_all}}</p>
               <p>Пропущено занятий: {{miss}} </p>
               <p>Срок действия до {{last_lesson}}</p>
               <p>Ближайшее занятие: {{near_lesson}}</p>
               <p>По адрессу: {{near_lesson_addr}}</p>
               <p>Преподаватель: {{teacher}}</p>
              
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-custom">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="glyphicon glyphicon-plus"></i>
                            История посещений
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body animated zoomOut">
                       {{visits_list}}
                    </div>
                </div>
            </div></div>

            </div>
          </div>